################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CleanBlog.Web/App_Data
/CleanBlog.Web/bin
/CleanBlog.Web/obj/Debug
/CleanBlog.Web/Umbraco
/packages
/CleanBlog.Core/bin/Debug
/CleanBlog.Core/obj/Debug
